:root {
  --header: #3f3d56;
  --span: #ee24ff;
  --text: #828282;
  --strong: #3f3d56;
  --dosis: "Dosis", sans-serif;
  --open: "Open Sans", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
